<h2>Login Page</h2>
  
  <h3>Login without password</h3>
  <p>{{message}}</p>
  <p>
    <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
    <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
  </p>
    
<form (ngSubmit)="sendLogin()" [formGroup]="form">
  <h3>Login Form</h3>
  <div *ngFor="let key of modelKeys">
     {{key}}<input placeholder="Enter {{key}} Here" 
                   *ngIf="key === 'username' " 
                   formControlName="{{key}}" />
            <input placeholder="Enter {{key}} Here" 
                   *ngIf="key === 'password' "
                   type="password"
                   formControlName="{{key}}" />
  </div>
  <button type="submit" [disabled]="!form.valid" >Submit</button>
</form>